.contactform {
  width: 800px;
  max-width: 800px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  animation: fadeIn 1s;
  box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.3);
}

.contactform form {
  width: 100%;
}

.contactform .row {
  display: flex;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
}

.contactform .row input,
.contactform .row textarea {
  width: 100%;
  box-sizing: border-box;
}

.contactform .row textarea {
  min-height: 200px;
  max-height: 300px;
}

.message textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 200px;
  max-height: 300px;
}

form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #8b8080;
  border-top: none;
  border-right: none;
  border-left: none;
  outline-color: tomato;
}

.row.submit-btn {
  display: flex;
  margin: auto;
  margin-top: 50px;
  width: 80%;
}

.contactform form button {
  width: 200px;
  margin: auto;
  margin-right: 0%;
  max-width: 200px;
  background-color: #ff5a5a;
  border: none;
  outline: none;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 3px;
  transition: all 0.5s;
}

.contactform form button:hover {
  transform: scale(1.02);
  color: white;
}
