.hero {
  height: 34vw;
  margin: 40px 0px;
  background: url("/header_icon.png") no-repeat;
  /* background: linear-gradient(to top, #fff 0%, rgb(255, 94, 0) 100%); */
  background-size: cover;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.hero-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}

.hero-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}

.hero-contents p {
  color: rgb(0, 0, 0);
  font-size: 1vw;
}

.hero-contents button {
  border: none;
  color: #0a0808;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  margin-left: 0;
}

.hero-contents button:hover {
  transform: scale(1.02);
}

@media (max-width: 1050px) {
  .hero-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .hero-contents {
    max-width: 65%;
  }
  .hero-contents p {
    display: none;
  }
  .hero-contents button {
    padding: 2vw 4vw;
  }
}
