.about {
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 80px;
  box-sizing: border-box;
  animation: fadeIn 1s;
  font-family: "Poppins";
}

.about h1 {
  padding: 10px 20px;
}

.about h2 {
  padding: 15px 25px;
}

.about p {
  padding: 10px 30px;
  text-align: justify;
  text-indent: 50px;
  line-height: 20px;
  word-spacing: 2px;
  font-weight: 300;
}

.about ul {
  padding: 20px 30px;
  text-align: justify;
  text-indent: 50px;
  word-spacing: 2px;
  font-weight: 300;
}

@media (max-width: 600px) {
  .about {
    width: 90%;
  }

  .about h1 {
    padding: 10px 15px;
  }

  .about h2 {
    padding: 15px 20px;
  }

  .about p {
    padding: 10px 25px;
  }

  .about ul {
    padding: 20px 25px;
  }
}

@media (max-width: 400px) {
  .about {
    width: 93%;
  }

  .about h1 {
    padding: 10px 10px;
  }

  .about h2 {
    padding: 15px 15px;
  }

  .about p {
    padding: 10px 20px;
  }

  .about ul {
    padding: 20px 20px;
  }
}
